.menu_button {
    border-bottom: var(--text-dark, #403F3D) 0.125rem solid;
    pointer-events: none;
}

h1 {
    visibility: hidden;
    height: 0;
}

main>h2 {
    max-width: 20ch;
    margin: 1rem auto;
}

main>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem;
    margin-bottom: 3.8rem;
}

main>section>h2 {
    visibility: hidden;
    height: 0;
    flex: 100%;
}

main>div {
    margin: 2.5rem auto 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

main>div>button {
    display: flex;
    align-items: center;
    height: 2.875rem;
    border-radius: 6.25rem;
    border: 1px solid var(--border-light, #C1B6AD);
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    color: var(--text-dark, #403F3D);
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: all 400ms ease-out;
}

main>div>button>img {
    object-fit: cover;
    height: 1.875rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background: var(--border-light, #C1B6AD);
    transition: all 400ms ease-out;
}

main>div>button.active {
    pointer-events: none;
}

@media (hover: hover) {

    main>div>button.active,
    main>div>button:hover {
        background: var(--background-container, #665F55);
        color: var(--text-light, #E1D4C9);
    }

    main>div>button.active>img,
    main>div>button:hover>img {
        background: var(--background-body, #E1D4C9);
    }
}

.menu_card {
    height: 506px;
    width: 310px;
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    cursor: pointer;
}

.menu_card>div {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 40px;
    margin-bottom: 0.55rem;
}



@media (hover: hover) {
    .menu_card:hover>div>img {
        transform: scale(1);
    }
}

.menu_card img {
    width: 100%;
    aspect-ratio: 1;
    object-position: center center;
    transform: scale(1.1);
    transition: all 400ms ease-out;
}

.menu_card>h3,
.menu_card>p {
    padding: 0 20px;
}

.menu_card>p:last-of-type {
    margin-top: auto;
    margin-bottom: 1.25rem;
    color: var(--text-dark, #403F3D);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 125%;
}

.load_more {
    display: none;
    width: 3.75rem;
    height: 3.75rem;
    background: url(../img/refresh.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    border: 1px solid var(--border-dark, #665F55);
    margin: 0 auto 6.3rem;
}

@media (max-width: 1400px) {
    main>section {
        justify-content: center;
        margin-bottom: 0rem;
    }

    .menu_card:nth-of-type(n+5) {
        display: none;
    }

    .load_more {
        display: block;
    }
}

@media (max-width: 750px) {
    main>div {
        margin: 2.5rem auto 2.5rem;
        display: flex;
        justify-content: space-between;
        gap: unset;
        width: auto;
        max-width: 344px;
    }
}